**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/coverage
**/*.tsbuildinfo
**/.env
**/.env.*
!**/.env.example
.git
.gitignore
**/*.log
**/.DS_Store
docker/data
data
README.md
docs
**/Dockerfile
**/.dockerignore
example frame.html
example frame.js
